<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="bootstrap.css" />
<meta charset="ISO-8859-1">
<title>Dati Autore</title>
</head>
<body>
	<div>
		<p th:text="#{label.nome} + ${autore.nome}" />
	</div>
	<div>
		<p th:text="#{label.cognome} + ${autore.cognome}" />
	</div>
	<div>
		<p th:text="#{label.nazionalita} + ${autore.nazionalita}" />
	</div>
	<div>
		<p th:text="#{label.dataNascita} + ${autore.dataNascita}" />
	</div>
	<div>
		<p th:text="#{label.dataMorte} + ${autore.dataMorte}" />
	</div>
	<div>
		<span th:text="#{label.opere}"></span>
	</div>
	<div th:each="opera : ${autore.getOpereRealizzate()}">
		<a th:href="@{/opere/}+${opera.id}" th:text="${opera.titolo}"></a>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a class='btn btn-info btn-xs'
			th:href="@{autore/edit?(id=${autore.id})}"><span
			class="glyphicon glyphicon-edit"></span>Modifica </a>
	</div>
	<div>
		<p>
			<a href="/">Torna all'Homepage</a>
		</p>
	</div>
</body>
</html>