<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="bootstrap.css" />
<meta charset="ISO-8859-1">
<title>Dati Opera</title>
</head>
<body>
	<h1>Dati opera</h1>
	<div>
		<p th:text="#{label.titolo} + ${opera.titolo}" />
	</div>
	<div>
		<p th:text="#{label.anno} + ${opera.anno}" />
	</div>
	<div>
		<p th:text="#{label.tecnica} + ${opera.tecnica}" />
	</div>
	<div>
		<p th:text="#{label.lunghezza} + ${opera.lunghezza}" />
	</div>
	<div>
		<p th:text="#{label.larghezza} + ${opera.larghezza}" />
	</div>
	<div>
		<span th:text="#{label.autore}"></span> <a
			th:href="@{/autori/}+${opera.autore.id}"
			th:text="${opera.autore.nome}+' '+${opera.autore.cognome}"></a>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a class='btn btn-info btn-xs'
			th:href="@{opera/edit?(id=${opera.id})}"><span
			class="glyphicon glyphicon-edit"></span>Modifica </a>
	</div>
	<div>
		<p>
			<a href="/">Torna all'Homepage</a>
		</p>
	</div>
</body>
</html>