<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="css/riepilogo.css" rel="stylesheet" media="screen" />
<title>Dati Opera</title>
</head>
<body>
	<h1>Dati opera</h1>
	<ul>
		<li>
			<p th:text="#{label.id}+' '+${opera.id}" />
		</li>
		<li>
			<p th:text="#{label.titolo}+' '+${opera.titolo}" />
		</li>
		<li>
			<p th:text="#{label.anno}+' '+${opera.anno}" />
		</li>
		<li>
			<p th:text="#{label.tecnica}+' '+${opera.tecnica}" />
		</li>
		<li>
			<p th:text="#{label.altezza}+' '+${opera.altezza}" />
		</li>
		<li>
			<p th:text="#{label.lunghezza}+' '+${opera.lunghezza}" />
		</li>
		<li><span th:text="#{label.autore}"></span> <a
			th:href="@{/autori/}+${opera.autore.id}"
			th:text="${opera.autore.nome}+' '+${opera.autore.cognome}"></a></li>
	</ul>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a class='btn btn-info btn-xs'
			th:href="@{opera/edit?(id=${opera.id})}"><span
			class="glyphicon glyphicon-edit"></span>Modifica </a>
	</div>
	<div>
		<p>
			<a href="/opere" class="btn btn-default">Torna alle Opere</a>
		</p>
	</div>
	<div>
		<p>
			<a href="/" class="btn btn-primary">Torna all'Homepage</a>
		</p>
	</div>
</body>
</html>