body{
	background-image: url("galleria3.jpg");		
}


.thumbnail {
	
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;  
    background-color: #f5f5f5; 
}

.jumbotron  {
	background-color: #f5f5f5;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;	
	}
	
.btn {
	font-size: 30px;
	height: 180px;
	width: 300px;
	background-color: #f5f5f5; 
	margin-bottom: 40px;
	margin-top: 70px;
}

.btn:hover{ 
	background-color: #E87D20;
}





